.searchbar {
    border: solid 2px;
    border-color: #6d8be8;
    border-radius: 20px;
    height: 30px;
    width: 270px;
    margin-top: 40px;
    background-color: #fffcf5;
  }
  
  .button-buscar {
    border-radius: 7px;
  }
  .button-buscar:hover {
    cursor: pointer;
    background-color: yellow;
  }